<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>青松 - 工作实训青松上手</title>
  <%= stylesheet_link_tag '/client/indexpages/index/index' %>
</head>
<body>
<div class="main_bg">
  <div class="container">
    <nav class="pic_nav">
      <a class="brand_logo"></a>
      <ul>
        <li><a>功能</a></li>
        <li><a>服务流程</a></li>
        <li><a>联系我们</a></li>
        <li><a class="loginbtn">登录</a></li>
        <li><a href="/src/choosereg.html">注册</a></li>
      </ul>
    </nav>
    <h1>工作实训从未如此轻松</h1>
    <a class="big_regbtn" href="/src/choosereg.html">免费注册</a>
  </div>
</div>

</body>
</html>
