<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <%= stylesheet_link_tag 'client/index_pages/aaa' %>
  <title>Document</title>
</head>
<body>
<h1>这是首页，我在 app/views/static_pages/index.html.erb</h1>
</body>
</html>
