
/*
 * = require grid
 * = require normalize
 * = require font-awesome-importer
 * = require client/indexpages/common
 * = require_self
 */


h2{
  font-size: 24px;
}

.headpic{
  width: 150px;
  margin-top: 40px;
}

.career_dolist{
  margin: 40px 0 20px 0;
  font-size: 14px;
  font-weight: lighter;
  color: #686868;
  list-style: none;
  padding-left: 0;

  li:before{
    content:"·";
    margin-right:10px;
  }

  li{
    margin:5px 0;
  }
}

.choosebtn{
  margin:20px 0 40px 0;

  text-align:center;
  font-size:18px;
  letter-spacing: .2em;
  width:140px;
  height:40px;
  line-height: 40px;
}

input.choosebtn{
  .choosebtn;
  line-height: normal;
  outline-style: none;
  outline:0;
  margin-bottom: 0;
}

.extratips{
  margin-top:80px;
  h3,p{
    color:#787878;
  }
  p{
    line-height: 1.8em;
  }
}

form{
  padding:30px 50px 20px 50px;
}

#sendverifycode{
  font-size: 12px;
  padding:5px;
  position: absolute;
  right:3px;
  top:0px;
}

#sendverifycode.disabled{
  border:transparent;
  color:#fff;
  background-color: #ccc;

  &:hover,&:active,&:focus{
    border:transparent;
    color:#fff;
    background-color: #ccc;
  }
}

.su_username{
  margin-top: 70px;
  margin-bottom: 21px;
  font-size: 36px;
  color: #686868;
  font-weight: normal;
  &:before{
    content:"- ";
  }
  &:after{
    content:" -";
  }
}
.su_company_name{
  margin-top: 20px;
  margin-bottom: 80px;
  font-size: 18px;
  font-weight: normal;
}

.su_email{
  margin-top: 21px;
  margin-bottom:43px;
  font-size: 20px;
  color: #B5B5B5;
  font-weight:lighter;
}
.su_tips{
  margin-top: 7px;
  font-size:14px;
  color:#B5B5B5;
  font-weight: lighter;
}
.panel_hr{
  display: block;
  height:1px;
  width:100%;
  border-top: 1px dashed #efefef;
}

.btn-login{
  font-size:16px;
  width:60%;
  margin-bottom: 30px;
  padding:15px;
}