<div class="ui segment">
  <div class="ui secondary pointing menu" style="border-bottom: none">
    <div class="item" style="padding-bottom: 8px;">
      <img src="<%= image_url('logo.png') %>"  style="width: 46px;">
    </div>

    <a href="/admin" class="active item">首页 </a>
    <a href="/admin/users" class="item">用户管理 </a>
    <a href="/admin/lessons" class="item">课程管理 </a>
    <a href="/admin/companies" class="item">公司管理 </a>
  </div>
</div>
