<div class="ui borderless main menu" style="height: 72px;">
  <div class="ui container">
    <div href="#" class="header item">
      <img class="logo" src="<%= image_url('logo.png') %>" style="width: 60px; margin-right: 12px;">
      QingSong
    </div>
    <a href="/admin/notices" class="item">消息管理 </a>
    <a href="/admin/users" class="item">用户管理 </a>
    <a href="/admin/lessons" class="item">课程管理 </a>
    <a href="/admin/companies" class="item">公司管理 </a>
    <% if current_user %>
        <a href="javascript:void(0)" class="ui right floated dropdown item">
          欢迎您：<%= current_admin.username %>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item" onclick="logout()">注销</div>
            <div class="item">个人中心</div>
          </div>
        </a>
    <% end %>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        // show dropdown on hover
        $('.main.menu  .ui.dropdown').dropdown({
            on: 'hover'
        });
    })

    function logout() {
        $.ajax({
            url: '/admin/logout',
            success: function (data, status) {
                if (status == 'success') {
                    window.location.href = '/admin/login'
                }
            }
        })
    }
</script>