@ff : "HanHei SC","PingHei","PingFang SC","STHeitiSC-Light","Helvetica Neue","Helvetica","微软雅黑","黑体","Arial",sans-serif;

@normaltext_color: #4A4A4A;
@darkbluetext_color: #34495E;
@darkgreentext_color: #53898e;
@errortext_color: #e14a4a;

@color_btn_green: #61d09c;

body{
  margin: 0;
  font-family: @ff;
  background-color: #fafafa;
}

.warp{
  display: block;
  overflow: hidden;
}

@nav_width : 200px;
nav{
  display: block;
  position:fixed;
  width: @nav_width;
  height:100%;
  background-color: @darkbluetext_color;
  text-align: center;
  overflow: hidden;

  .nav_warp{
    display: block;
    width:220px;
    height:100%;
    overflow-y: scroll;
  }


  .logo{
    display: inline-block;
    @logourl: asset-path("indexpages/logo.png");
    background: url(@logourl) no-repeat;
    background-size:contain;
    width: 80px;
    height: 30px;
    margin-top:30px;
    margin-bottom: 20px;
  }

  .nav_gutter{
    display: block;
    width:100%;
    height:25px;
    line-height:25px;
    background-color:#23313F;
    color:#475F76;
    font-size: 14px;
    text-align: center;
  }

  a.item{
    display: block;
    width:100%;
    height:60px;
    line-height: 60px;
    cursor: pointer;

    &:hover,&:focus{
      background-color: lighten(@darkbluetext_color,20%);
    }

    &:active{
      background-color: darken(@darkbluetext_color,20%);
    }

    div{
      display: inline-block;
      width:100px;
      color:#fff;
      font-weight: lighter;
      text-align: left;
      font-size: 16px;

      span:first-child{
        width:16px;
        margin-right: 16px;
      }
    }
  }

  a.active{
    background-color: @color_btn_green !important;
  }
}
.main{
  margin-left: @nav_width;
  overflow: hidden;
  min-height: 700px;
  min-height: 100vh;
}
.secondary_nav{
  position:relative;
  display: block;
  width:100%;
  height:80px;
  cursor: default;



  div.ac_display{
    position: absolute;
    right: 0px;
    top: 0px;

    z-index: 555;
    width: 250px;
  }
  div.ac_dropdown{
    display: none;
    position: absolute;
    right: 0px;
    top: -15px;
    padding-top: 50px;
    padding-bottom: 20px;

    width: 250px;
    border: 1px solid #ddd;
    background-color: #fff;

    z-index: 550;
  }

  div.ac_dropdown_btn{
    width:70%;
  }

  div.account_dropdownmenu{
    position: absolute;
    right: 70px;
    top: 35px;

    width: 250px;
    height: 40px;

    color: #b8b8b8;
    text-align: center;

    &:hover,&:focus{
      .ac_dropdown {
        display: block;
      }
    }
  }
}

.btn_red{
  display: inline-block;
  transition: background-color 280ms cubic-bezier(.4,0,.2,1);
  color:#fff;
  border: 0;
  background-color:@errortext_color;
  border-radius: 5px;
  padding:8px 12px;
  cursor: pointer;

  //不许选中文字
  -moz-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  -khtml-user-select:none;
  user-select:none;

  &:hover,&:focus{
    background-color: darken(@errortext_color,20%);
  }

  &:active{
    background-color: darken(@errortext_color,40%);
  }
}


.panel{
  position: relative;
  display: block;
  width:100%;
  min-height: 60px;
  background-color: #fff;
  overflow: hidden;
  margin-bottom:40px;

  .panelcontainer{
    padding:0 22px;
  }

  h1{
    margin-top:22px;
    color: @color_btn_green;
    font-size: 20px;
    margin-bottom: 30px;
  }

  p{
    color:#555;
    font-size:18px;
  }

  table{

    width:100%;
    border:0;
    border-collapse: collapse;
    text-align: center;


    tr{
      height:50px;
      line-height:50px;
      font-size: 14px;
      color: #555;

      &:hover,&:focus{
        background-color: #E2F8EE;
        color: #4A8282;
      }
    }

    tr:first-child{
      background-color: #fcfcfc;
      &:hover,&:focus{
        background-color: #fcfcfc;
        color: @darkbluetext_color;
      }
    }

    th{
      color: @darkbluetext_color;
    }

    th,td{
      border-collapse: collapse;
      border:0;
      padding:0;
    }
  }
}


.btn-green{
  display: inline-block;
  transition: background-color 280ms cubic-bezier(.4,0,.2,1);
  color:#fff;
  border: 0;
  background-color:@color_btn_green;
  border-radius: 5px;
  padding:8px 12px;

  cursor: pointer;

  //不许选中文字
  -moz-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  -khtml-user-select:none;
  user-select:none;

  &:hover,&:focus{
    background-color: darken(@color_btn_green,20%);
  }

  &:active{
    background-color: darken(@color_btn_green,40%);
  }
}
.btn-ghost-green{
  display: inline-block;
  transition: background-color 280ms cubic-bezier(.4,0,.2,1)
  ,color 280ms cubic-bezier(.4,0,.2,1)
  ,border-color 280ms cubic-bezier(.4,0,.2,1);
  color:@color_btn_green;
  border: 1px solid @color_btn_green;
  background-color:transparent;
  border-radius: 3px;
  padding:7px 12px;

  cursor: pointer;

  //不许选中文字
  -moz-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  -khtml-user-select:none;
  user-select:none;

  &:hover,&:focus{
    background-color: darken(@color_btn_green,20%);
    color:#fff;
    border-color: transparent;
  }

  &:active{
    background-color: darken(@color_btn_green,40%);
    color:#fff;
    border-color: transparent;
  }
}
.btn-ghost-gray{
  display: inline-block;
  transition: background-color 280ms cubic-bezier(.4,0,.2,1)
  ,color 280ms cubic-bezier(.4,0,.2,1)
  ,border-color 280ms cubic-bezier(.4,0,.2,1);
  color:#aaa;
  border: 1px solid #aaa;
  background-color:transparent;
  border-radius: 3px;
  padding:7px 12px;

  cursor: pointer;

  //不许选中文字
  -moz-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  -khtml-user-select:none;
  user-select:none;

  &:hover,&:focus{
    background-color: darken(#aaa,20%);
    color:#fff;
    border-color: transparent;
  }

  &:active{
    background-color: darken(#aaa,40%);
    color:#fff;
    border-color: transparent;
  }
}


//panel中的表单通用样式
.profileform{
  display: block;
  width: 800px;
  overflow: hidden;

  .input_group{
    display: block;
    position: relative;
    margin-bottom: 20px;

    label{
      text-align: right;
      display: inline-block;
      padding: 10px 0;
      margin-right: 20px;
      width: 80px;
      color: lighten(@darkbluetext_color,20%);
      font-size: 16px;
    }

    input{
      width: 600px;
      padding: 11px;
      color: #555;
      font-size: 16px;
      border: 1px solid transparent;
      background-color: transparent;

      outline: 0;
      outline-style: none;
      box-shadow: 0;

      transition: background-color 280ms cubic-bezier(.4,0,.2,1)
      ,color 280ms cubic-bezier(.4,0,.2,1)
      ,border-color 280ms cubic-bezier(.4,0,.2,1);
    }


    input.active{
      width: 600px;
      padding: 11px;
      color: #555;
      font-size: 16px;
      border: 1px solid #9e9e9e;
      border-radius: 3px;
      background-color: #fafafa;

      outline: 0;
      outline-style: none;
      box-shadow: 0;

      transition: background-color 280ms cubic-bezier(.4,0,.2,1)
      ,color 280ms cubic-bezier(.4,0,.2,1)
      ,border-color 280ms cubic-bezier(.4,0,.2,1);
      
      &:focus{
        padding:10px;
        border-color: @color_btn_green;
        background-color: #fff;
        border-width: 2px;
      }
    }

    .input_inside_errorbox {
      position: absolute;
      text-align: right;
      right: 90px; //相对于input_group
      top: 13px;
      font-size: 14px;
      min-height: 16px;
      color: @errortext_color;
      margin: 0;
    }
  }

  .input_errorbox{
    font-size:14px;
    min-height: 16px;
    color: @errortext_color;
    margin-top: 10px;
    margin-left:15px;
  }

}