<%
  provide :title, '青松 - 课程管理'
  provide :page_tag, @page_tag
  provide :user_email, current_user.email
  @last_login_time = current_user.updated_at
%>

<div class="page_warp">
  <div class="panel">
    <div class="panelcontainer">
      <h1>公司名下拥有的课程系统</h1>
      <div class="btn-ghost-green" id="add_course_sys" data-remodal-target="add_course_sys_modal"><span class="fa fa-plus-circle"></span>&nbsp;&nbsp;申请开发课程系统</div>
    </div>


  </div>
</div>


<div class="remodal" data-remodal-id="add_course_sys_modal">
  <button data-remodal-action="close" class="remodal-close"></button>
  <h1>课程系统开发申请表</h1>
  <div class="add_csmd_inputgroup">
    <label for="add_csmd_name"><span class="fa fa-book"></span>&nbsp;&nbsp;课程系统名称</label>
    <div>
      <input id="add_csmd_name" placeholder="公司中使用的某个办公系统的名字,例如:青松财务系统">
    </div>
  </div>
  <div class="add_csmd_inputgroup">
    <label for="add_csmd_desc"><span class="fa fa-pencil"></span>&nbsp;&nbsp;课程系统描述</label>
    <div>
      <input id="add_csmd_desc" placeholder="请描述简要您的系统">
    </div>
  </div>
  <div class="add_csmd_filewarp">
    <div id="uploadcover"><span class="fa fa-upload"></span>&nbsp;&nbsp;上传系统封面图</div>
    <input id="add_csmd_cover" placeholder="请描述简要您的系统" type="file">
  </div>


  <br>
  <button data-remodal-action="cancel" class="btn_red" id="add_couse_sys_cancel">取消</button>
  <button data-remodal-action="confirm" class="btn-green" id="add_couse_sys_confirm">提交表格</button>
</div>