<%
  provide :title, '青松 - 课程管理'
  provide :page_tag, @page_tag
  provide :user_email, current_user.email
  @last_login_time = current_user.updated_at
%>

<div class="page_warp">
  <h1>课程管理</h1>
</div>
