<%
  provide :title, '青松 - 员工管理'
  provide :page_tag, @page_tag
  provide :user_email, "1234567890@xxx.com"

  @last_login_time = "2017-01-02"
%>

<div class="page_warp">
  <div class="panel">
    <div class="panelcontainer">
      <h1>概况</h1>
      <p>本公司名下目前有 123 名员工, 其中高级管理员有 12 名.</p>
    </div>

  </div>


  <div class="panel">
    <div class="panelcontainer">
      <h1>未被使用的邀请码</h1>
      <div id="invitecodecontainer">
        <div class="invitecode">
          <div class="in_id">A23E2Q</div>
          <div class="fa fa-times in_closebtn"></div>
        </div>
      </div>
    </div>

  </div>

  <div class="panel">
    <div class="panelcontainer">
      <h1>员工列表</h1>
      <div class="btn-ghost-green" id="addemployee"><span class="fa fa-user-plus"></span>&nbsp;&nbsp;邀请员工</div>
    </div>

    <table>
      <tr>
        <th>id</th>
        <th>姓名</th>
        <th>邮箱</th>
        <th>联系方式</th>
        <th>上次登录时间</th>
        <th>账号类型</th>
        <th>操作</th>
      </tr>
      <tr>
        <td>1</td>
        <td>张三</td>
        <td>123457987@xxx.com</td>
        <td>18813973778</td>
        <td>2017-01-02</td>
        <td>普通员工</td>
        <td>-</td>
      </tr>
      <tr>
        <td>1</td>
        <td>张三</td>
        <td>123457987@xxx.com</td>
        <td>18813973778</td>
        <td>2017-01-02</td>
        <td>普通员工</td>
        <td>-</td>
      </tr>
      <tr>
        <td>1</td>
        <td>张三</td>
        <td>123457987@xxx.com</td>
        <td>18813973778</td>
        <td>2017-01-02</td>
        <td>普通员工</td>
        <td>-</td>
      </tr>
      <tr>
        <td>1</td>
        <td>张三</td>
        <td>123457987@xxx.com</td>
        <td>18813973778</td>
        <td>2017-01-02</td>
        <td>普通员工</td>
        <td>-</td>
      </tr>
    </table>

  </div>
</div>
