<%
  provide :title, '青松 - 用户中心'
  provide :page_tag, @page_tag
  provide :user_email, current_user.email
  @last_login_time = $last_login_time
  provide :username, current_user.username
  @username = current_user.username
%>

<div class="page_warp">
  <h1>你好,<%= @username %></h1>
  <p id="last_login_time">上次登录:&nbsp;&nbsp;<%= @last_login_time %></p>
</div>
