<div class="ui grid">
  <div class="row">
    <div class="two wide column"></div>
    <div class="ten wide column">
      <h1>Users</h1>
      <table class="ui basic table">
        <thead>
        <tr>
          <th>用户名</th>
          <th>邮箱</th>
          <th colspan="3">操作</th>
        </tr>
        </thead>

        <tbody>

        </tbody>
      </table>
    </div>
  </div>
</div>

