#warp{
    width: 1920px;
    height: 1004px;
    text-align: center;
    overflow: hidden;
    font-family: "微软雅黑";
}

.top{
    width: 100%;
    height: 48px;
    background-image: url('/course_sys/2/preview/JinSanQi/assets/img/main/top_bg[1].jpg');
    background-repeat: repeat-x;
    text-align: left;
}

.top .logobg{
    position: absolute;
    left: 0;
    top: 0;
}

.top .logo{
    position: absolute;
    left: 25px;
    top: 3px;
}

.top .toptool{
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
}

.top .toptool_btngroup{
    width: 230px;
    float: right;
}

.top .toptool_btn{
    display: inline-block;
    vertical-align: middle;
    margin: 0 8px;
}
.top .toptool_btn:last-child{
    margin: 0;
}
.top img{
    float: right;
}
.top .toptool_state{
    float: right;
    margin-top: 4px;
    margin-right: 4px;
    width: 400px;
}
.top .toptool_state p{
    margin: 0;
    color:#fff;
    font-size: 14px;
}
.content{
    width: 100%;
    height: calc(100% - 48px);
    text-align: left;
}

.siderbar{
    display: block;
    float: left;
    height: 100%;
    text-align: left;
}
.siderbar .siderbarcontent{
    display: inline-block;
    width: 200px;
    height: 100%;
    overflow: hidden;
}

.siderbar .siderbarexpand{
    display: inline-block;
    position: relative;
    width: 7px;
    height: 100%;
    background-image: url('/course_sys/2/preview/JinSanQi/assets/img/ main/con_left[1].jpg');
    cursor: pointer;
    margin-left: -5px;
}
.siderbar .siderbarexpand .siderbarexpandbtn{
    display: inline-block;
    width: 7px;
    height: 20px;
    position: absolute;
    top: calc(50% - 10px);
    left: 0;
    background-image: url('/course_sys/2/preview/JinSanQi/assets/img/ main/s_l[1].png');
    background-repeat: no-repeat;
}

.siderbarcontent .searchbox{
    display: block;
    position: relative;
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #cbdbe5;
    background-image: url('/course_sys/2/preview/JinSanQi/assets/img/ main/ss_bg[1].png');
}

.siderbarcontent .searchbox .searchbox_search{
    position: absolute;
    right: 0;
    top: 0;
}

.siderbarcontent .searchbox input{
    position: absolute;
    top: 10px;
    left: 20px;
    width: calc(100% - 50px);
    font-size: 12px;
    margin: 0;
    border: 0;
    padding: 0;
    background-color: transparent;
    
    outline: 0;
    outline-style: none;
    box-shadow: 0;
}

.siderbarcontent .siderbarnavbtn{
    display: block;
    height: 31px;
    width: 100%;
    background-image: url('/course_sys/2/preview/JinSanQi/assets/img/main/aod_l[1].gif');
    background-repeat: repeat-x;
    cursor: pointer;
    box-sizing: border-box;
    padding-left: 15px;
}
.siderbarcontent .siderbarnavbtn img{
    width: 18px;
    vertical-align: middle;
}
.siderbarcontent .siderbarnavbtn div{
    display: inline-block;
    line-height: 31px;
    font-size: 12px;
    margin-left: 5px;
    color: #fff;
}
.siderbarcontent .siderbarnavbtn.active{
    display: block;
    height: 31px;
    width: 100%;
    background-image: url('/course_sys/2/preview/JinSanQi/assets/img/main/aod_m[1].gif');
    background-repeat: repeat-x;
    cursor: pointer;
}

.siderbarcontent .siderbar_listcontainer{
    display: block;
    height: 784px;
    overflow-x: scroll;
}

.siderbarcontent .sb_listline{
    display: block;
    position: relative;
    width: 100%;
    height: 18px;
    margin-left: 25px;
    cursor: pointer;
}

.siderbarcontent .sb_listline:hover .sb_itemtitle{
    text-decoration: underline;
}

.sb_listline .sb_treeline{
    display: inline-block;
    width: 1px;
    height: 18px;
    background-color: #a0afc3;
}
.sb_listline .sb_treeline2{
    display: inline-block;
    width: 9px;
    height: 10px;
    margin-left: -5px;
    border-top: 1px solid #a0afc3;
}
.sb_listline .sb_treeline3{
    display: inline-block;
    width: 1px;
    height: 10px;
    vertical-align: top;
    background-color: #a0afc3;
}
.sb_listline .sb_itemtitle{
    display: inline-block;
    font-size: 12px;
    vertical-align: text-top;
}
.sb_listline .sb_itemicon{
    margin-left: -5px;
}
.sb_listline .sb_nodeicon{
    margin-left: -15px;
}

.mainblock{
    overflow: hidden;
    height: 100%;
}

.mainblock .tabline{
    display: block;
    position: relative;
    height: 34px;
    width: 100%;
    
    
    background: -moz-linear-gradient(90deg, #d1dfec, #f6fbff); 
    background: -webkit-gradient(linear,50% 100%,50% 0%,from(#d1dfec),to(#f6fbff)); 
    background: -webkit-linear-gradient(90deg, #d1dfec, #f6fbff); 
    background: -o-linear-gradient(90deg, #d1dfec, #f6fbff);
}

.tabline .tabbottomline{
    display: block;
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #b1ceec;
}

.tabline .tabbtngroup{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.tabline .tabrightbtngroup{
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 120px;
    height: 100%;
    text-align: right;
}
.tabrightbtn{
    float: right;
    width: 33px;
    height: 33px;
    background-image: url('/course_sys/2/preview/JinSanQi/assets/img/main/js_qp[1].png');
    background-repeat: no-repeat;
    background-position: 0 0;
}
.tabrightbtn2{
    float: right;
    width: 33px;
    height: 33px;
    background-image: url('/course_sys/2/preview/JinSanQi/assets/img/main/j_r[1].png');
    background-repeat: no-repeat;
    background-position: 0 -33px;
}
.tabrightbtn3{
    float: right;
    width: 33px;
    height: 33px;
    background-image: url('/course_sys/2/preview/JinSanQi/assets/img/main/j_l[1].png');
    background-repeat: no-repeat;
    background-position: 0 -33px;
}

.tabbtn{
    float: left;
    text-align: center;
    position: relative;
    border-radius: 5px 5px 0 0;
    border:1px solid #beccdf;
    border-bottom-color: #cadce7;
    display: inline-block;
    top: 5px;
    width: 150px;
    height: 29px;
    box-sizing: border-box;
    margin-left: 4px;
    cursor: pointer;
    
    background: -moz-linear-gradient(90deg, #cddceb, #f0f6fd); 
    background: -webkit-gradient(linear,50% 100%,50% 0%,from(#cddceb),to(#f0f6fd)); 
    background: -webkit-linear-gradient(90deg, #cddceb, #f0f6fd); 
    background: -o-linear-gradient(90deg, #cddceb, #f0f6fd);
}
.tabbtn.active{
    background: -moz-linear-gradient(90deg, #eaf2f6, #fff); 
    background: -webkit-gradient(linear,50% 100%,50% 0%,from(#eaf2f6),to(#fff)); 
    background: -webkit-linear-gradient(90deg, #eaf2f6, #fff); 
    background: -o-linear-gradient(90deg, #eaf2f6, #fff);
    
    border-bottom-color: #eaf2f6;
}

.tabbtn div{
    font-size: 12px;
    color: #2e4e76;
    display:inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 70px;
    height: 29px;
    line-height: 29px;
}

.tabbtn.active div{
    color: #000;
    font-weight: bolder;
}

.tabbtn .tabclosebtn{
    position: absolute;
    right: 10px;
    top: 10px;
}
.tabbtn .tabclosebtn:hover{
    top: 8px;
}

.modulegroup{
    display: block;
    width: 100%;
    height: 100%;
}
.modulepart{
    display: block;
    width: 100%;
    height: 100%;
}